<h3>Comments</h3>
<% @post.comments.each do |c| %>
	<div class="well">
		<p>
			<strong><%= c.username %></strong>: <%= c.body %>

			<%= link_to 'Delete', [c.post, c], method: :delete, data: {confirm: 'Are you sure?'} %>
		</p>
	</div>
<% end %>